* {font-family: 'PT Sans', sans-serif;}

.box {
    margin: auto;
    justify-content: center;
    text-align: center;
    border-style: solid;
    display: space-around;
    padding: 0.5em 0.5em 0.5em;
}

.box img {
    width: 200px;
    height: 200px;
}

.btn1 {
    position: fixed;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 40px;
    background-color: black;
    color: white;
    padding: 5px;
    cursor: pointer;
}